## filename=${context.javaBeanName}ApiService.java, folder=service
import com.cjlabs.db.domain.FmkPageResponse;
import com.cjlabs.db.domain.FmkRequest;
import com.cjlabs.web.check.FmkCheckUtil;
import com.cjlabs.web.json.FmkJacksonUtil;

import lombok.extern.slf4j.Slf4j;
import org.apache.commons.collections4.CollectionUtils;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Objects;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Slf4j
@Service
public class ${context.javaBeanName}ApiService {
    
    @Autowired
    private ${context.javaBeanName}Service ${context.javaBeanNameLF}Service;
	
    public ${context.javaBeanName}Resp getById(FmkRequest<Void> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(StringUtils.isBlank(input.getBusinessKey()));

        ${context.javaBeanName} ${context.javaBeanNameLF} = ${context.javaBeanNameLF}Service.getById(input);
        return ${context.javaBeanName}Convert.toResp(${context.javaBeanNameLF});
    }

    public ${context.javaBeanName}Resp save(FmkRequest<${context.javaBeanName}ReqSave> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        ${context.javaBeanName}ReqSave request = input.getRequest();
        if (Objects.isNull(request)) {
            log.info("${context.javaBeanName}ApiService|save|request is null");
            return null;
        }

        ${context.javaBeanName} ${context.javaBeanNameLF} = ${context.javaBeanNameLF}Service.save(request);
        return ${context.javaBeanName}Convert.toResp(${context.javaBeanNameLF});
    }


    public boolean update(FmkRequest<${context.javaBeanName}ReqUpdate> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        ${context.javaBeanName}ReqUpdate request = input.getRequest();
        if (Objects.isNull(request)) {
            log.info("${context.javaBeanName}ApiService|update|request is null");
            return false;
        }
        return ${context.javaBeanNameLF}Service.update(request);
    }

    public boolean deleteById(FmkRequest<Void> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getBusinessKey()));

        String businessKey = input.getBusinessKey();
        if (businessKey == null) {
        	log.info("${context.javaBeanName}ApiService|deleteById|request is null");
            return false;
        }
        return ${context.javaBeanNameLF}Service.deleteById(businessKey);
    }

    /**
     * 查询所有（不分页）
     */
    public List<${context.javaBeanName}Resp> listAll() {
        List<${context.javaBeanName}> entityList = ${context.javaBeanNameLF}Service.listAll();
        List<${context.javaBeanName}Resp> respList = ${context.javaBeanName}Convert.toResp(entityList);
        return respList;
    }
    
      /**
     * 分页查询
     */
    public FmkPageResponse<${context.javaBeanName}Resp> pageQuery(FmkRequest<${context.javaBeanName}ReqQuery> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        // 执行分页查询
        FmkPageResponse<${context.javaBeanName}> entityPage = ${context.javaBeanNameLF}Service.pageQuery(input);

        if (Objects.isNull(entityPage) || CollectionUtils.isEmpty(entityPage.getRecords())) {
            return FmkPageResponse.empty();
        }

        FmkPageResponse<${context.javaBeanName}Resp> pageResponse = FmkPageResponse.of(entityPage, ${context.javaBeanName}Convert::toResp);

        return pageResponse;
    }
}