## filename=${context.javaBeanName}Controller.java, folder=controller
import com.cjlabs.db.domain.FmkPageResponse;
import com.cjlabs.db.domain.FmkRequest;
import com.cjlabs.web.threadlocal.FmkResult;

import lombok.extern.slf4j.Slf4j;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;

import java.util.List;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Slf4j
@RestController
@RequestMapping("${requestMapping}")
public class ${context.javaBeanName}Controller {

    @Autowired
    private ${context.javaBeanName}Service ${context.javaBeanNameLF}Service;

    /**
     * 分页查询
     */
    @PostMapping("/page")
    public FmkResult<IPage<${context.javaBeanName}Resp>> page(@RequestBody FmkRequest<${context.javaBeanName}ReqQuery> input) {
        IPage<${context.javaBeanName}Resp> page = ${context.javaBeanNameLF}Service.pageQuery(input);
        return FmkResult.success(page);
    }

    /**
     * 查询所有（不分页）
     */
    @PostMapping("/list")
    public FmkResult<List<${context.javaBeanName}Resp>> list() {
        List<${context.javaBeanName}Resp> list = ${context.javaBeanNameLF}Service.listAll();
        return FmkResult.success(list);
    }

    /**
     * 根据 ID 查询
     */
    @PostMapping("/get/{id}")
    public FmkResult<${context.javaBeanName}Resp> getById(FmkRequest<Void> input) {
        ${context.javaBeanName}Resp resp = ${context.javaBeanNameLF}Service.getById(input);
        return FmkResult.success(resp);
    }

    /**
     * 新增
     */
    @PostMapping("/save")
    public FmkResult<Boolean> save(@RequestBody FmkRequest<${context.javaBeanName}ReqUpdate> input) {
        boolean result = ${context.javaBeanNameLF}Service.save(input);
        return FmkResult.success(result);
    }

    /**
     * 更新
     */
    @PostMapping("/update/byId")
    public FmkResult<Boolean> update(@RequestBody FmkRequest<${context.javaBeanName}ReqUpdate> input) {
        boolean result = ${context.javaBeanNameLF}Service.update(input);
        return FmkResult.success(result);
    }

    /**
     * 删除
     */
    @PostMapping("/delete/byId")
    public FmkResult<Boolean> remove(@RequestBody FmkRequest<Void> input) {
        boolean result = ${context.javaBeanNameLF}Service.deleteById(input);
        return FmkResult.success(result);
    }

}