## filename=${context.javaBeanName}Mapper.java, folder=mapper
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Mapper
public interface ${context.javaBeanName}Mapper extends BaseMapper<${context.javaBeanName}> {

}