## filename=${context.javaBeanName}mapper.xml, folder=mapper.xml
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace=".mapper.${context.javaBeanName}Mapper">

    <resultMap id="${context.javaBeanName}ResultMap" type=".mysql.${context.javaBeanName}">
        <id property="id" column="id"/>
#foreach ($column in $columns)
#if($column.columnName != 'id')
        <result property="${column.javaFieldName}" column="${column.columnName}"/>
#end
#end

    </resultMap>

    <sql id="Base_Column_List">
        #foreach ($column in $columns)${column.columnName}#if($foreach.hasNext), #end#end

    </sql>

    <sql id="Base_Table">
        ${table.tableName}
    </sql>

</mapper>