## filename=${context.javaBeanName}.java, folder=mysql
import com.cjlabs.db.domain.FmkBaseEntity;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = true)
public class ${context.javaBeanName} extends FmkBaseEntity {

#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'del_flag' && $column.columnName != 'create_user' && $column.columnName != 'create_date' && $column.columnName != 'update_user' && $column.columnName != 'update_date' && $column.columnName != 'trace_id')
    /**
     * ${column.comment}
     */
    private ${column.javaTypeBox} ${column.javaFieldName};

#end
#end
}