## filename=${context.javaBeanName}_req_json, folder=
{
    "request": {
    
	#foreach ($column in $columns)
    #if(
        $column.columnName != 'del_flag' 
        && $column.columnName != 'create_user' 
        && $column.columnName != 'create_date' 
        && $column.columnName != 'update_user' 
        && $column.columnName != 'update_date' 
        && $column.columnName != 'trace_id'
        )
    
    "${column.javaFieldName}": "",

    #end
    #end

    }
}