## filename=${context.javaBeanName}ReqQuery.java, folder=reqquery
import lombok.Data;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Data
public class ${context.javaBeanName}ReqQuery {
    
#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'del_flag' && $column.columnName != 'update_date')
    /**
     * ${column.comment}
     */
    private ${column.javaTypeBox} ${column.javaFieldName};

#end
#end
}