## filename=${context.javaBeanName}ReqQuery, folder=
package ${package}.${moduleName}.reqquery;

import lombok.Data;

#if(${hasDate})
import java.time.LocalDateTime;
#end
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * ${tableComment} - 查询请求
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class ${context.javaBeanName}ReqQuery {
    
    /**
     * 当前页码（从1开始）
     */
    private Integer pageNum = 1;
    
    /**
     * 每页大小
     */
    private Integer pageSize = 10;
    
#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'del_flag' && $column.columnName != 'create_user' && $column.columnName != 'create_date' && $column.columnName != 'update_user' && $column.columnName != 'update_date')
#if($column.attrType == 'String' || $column.columnType == 'ENUM')
    /**
     * ${column.comments}
     */
    private ${column.attrType} ${column.attrName};
    
#end
#end
#end
}