## filename=${context.javaBeanName}ReqSave.java, folder=reqsave
import lombok.Data;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Data
public class ${context.javaBeanName}ReqSave {
    
    /**
     * ID（更新时必填）
     */
    private Long id;
    
#foreach ($column in $columns)
#if($column.columnName != 'id' && $column.columnName != 'del_flag' && $column.columnName != 'update_date' && $column.columnName != 'trace_id')
    /**
     * ${column.comment}
     */
    private ${column.javaTypeBox} ${column.javaFieldName};

#end
#end
}