## filename=${context.javaBeanName}Service.java, folder=service
import com.cjlabs.db.domain.FmkPageResponse;
import com.cjlabs.db.domain.FmkRequest;
import com.cjlabs.web.check.FmkCheckUtil;
import com.cjlabs.web.exception.Error200ExceptionEnum;
import com.cjlabs.web.json.FmkJacksonUtil;

import lombok.extern.slf4j.Slf4j;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Objects;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Slf4j
@Service
public class ${context.javaBeanName}Service {
    
    @Autowired
    private ${context.javaBeanName}WrapMapper ${context.javaBeanNameLF}WrapMapper;
	
    public ${context.javaBeanName} getById(FmkRequest<Void> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(StringUtils.isBlank(input.getBusinessKey()));

        String id = input.getBusinessKey();
        return ${context.javaBeanNameLF}WrapMapper.getById(id);
    }

    public ${context.javaBeanName} save(${context.javaBeanName}ReqSave request) {
        FmkCheckUtil.checkInput(Objects.isNull(request));
        
        ${context.javaBeanName} db = ${context.javaBeanName}ReqConvert.toDb(request);

        int saved = ${context.javaBeanNameLF}WrapMapper.save(request);
        FmkCheckUtil.throw200Error(saved == 0, Error200ExceptionEnum.DATA_NOT_FOUND);
        return db;
    }


    public boolean update(${context.javaBeanName}ReqUpdate request) {
        FmkCheckUtil.checkInput(Objects.isNull(request));
        
        ${context.javaBeanName} db = ${context.javaBeanName}ReqConvert.toDb(request);
        
        int updated = ${context.javaBeanNameLF}WrapMapper.updateById(db);
        if (updated > 0) {
            log.info("${context.javaBeanName}Service|update|update={}|id={}", updated, request.getId());
            return true;
        }
        return false;
    }

    public boolean deleteById(String businessKey) {
        // 参数校验
        FmkCheckUtil.checkInput(StringUtils.isBlank(businessKey));
        
        int deleted = ${context.javaBeanNameLF}WrapMapper.deleteById(businessKey);
        if (deleted > 0) {
            log.info("${context.javaBeanName}Service|deleteById|deleteById={}|id={}", deleted, businessKey);
            return true;
        }
        return false;
    }

    /**
     * 查询所有（不分页）
     */
    public List<${context.javaBeanName}> listAll() {
        List<${context.javaBeanName}> entityList = ${context.javaBeanNameLF}WrapMapper.listAllLimitService();
        return entityList;
    }
    
      /**
     * 分页查询
     */
    public FmkPageResponse<${context.javaBeanName}> pageQuery(FmkRequest<${context.javaBeanName}ReqQuery> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        // 执行分页查询
        FmkPageResponse<${context.javaBeanName}> entityPage = ${context.javaBeanNameLF}WrapMapper.pageQuery(input);

        return entityPage;
    }
}