## filename=${context.javaBeanName}Service.java, folder=service
import com.cjlabs.db.domain.FmkPageResponse;
import com.cjlabs.db.domain.FmkRequest;
import com.cjlabs.web.check.FmkCheckUtil;
import com.cjlabs.web.exception.BusinessExceptionEnum;

import lombok.extern.slf4j.Slf4j;
import org.apache.commons.lang3.StringUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Slf4j
@Service
public class ${context.javaBeanName}Service {
    
    @Autowired
    private ${context.javaBeanName}WrapMapper ${context.javaBeanNameLF}WrapMapper;
	
    public ${context.javaBeanName} getById(FmkRequest<Void> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(StringUtils.isBlank(input.getBusinessKey()));

        String id = input.getBusinessKey();
        return ${context.javaBeanNameLF}WrapMapper.getById(id);
    }

    public boolean save(FmkRequest<${context.javaBeanName}> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        ${context.javaBeanName} request = input.getRequest();
        if (Objects.isNull(request)) {
            return false;
        }

        int saved = ${context.javaBeanNameLF}WrapMapper.save(request);
        FmkCheckUtil.throwBusiness(saved == 0, BusinessExceptionEnum.DATA_NOT_FOUND);
        return true;
    }


    public boolean update(FmkRequest<${context.javaBeanName}> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        ${context.javaBeanName} request = input.getRequest();
        if (Objects.isNull(request)) {
            return false;
        }
        int updated = ${context.javaBeanNameLF}WrapMapper.updateById(request);
        if (updated > 0) {
            log.info("${context.javaBeanName}Service|update|update={}|id={}", updated, request.getId());
            return true;
        }
        return false;
    }

    public boolean deleteById(FmkRequest<Void> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getBusinessKey()));

        String businessKey = input.getBusinessKey();
        if (businessKey == null) {
            return false;
        }
        int deleted = ${context.javaBeanNameLF}WrapMapper.deleteById(businessKey);
        if (removed > 0) {
            log.info("${context.javaBeanName}Service|update|deleteById={}|id={}", deleted, businessKey);
            return true;
        }
        return false;
    }

    /**
     * 查询所有（不分页）
     */
    public List<${context.javaBeanName}> listAll() {
        List<${context.javaBeanName}> entityList = ${context.javaBeanNameLF}WrapMapper.listAllLimitService();
        return entityList;
    }
    
      /**
     * 分页查询
     */
    public FmkPageResponse<${context.javaBeanName}> pageQuery(FmkRequest<${context.javaBeanName}ReqQuery> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        // 执行分页查询
        FmkPageResponse<${context.javaBeanName}> entityPage = ${context.javaBeanNameLF}Mapper.pageQuery(input);

        return entityPage;
    }
}