## filename=${context.javaBeanName}WrapMapper.java, folder=wrapmapper
import com.cjlabs.db.mp.FmkService;
import com.cjlabs.db.domain.FmkOrderItem;
import com.cjlabs.db.domain.FmkPageResponse;
import com.cjlabs.db.domain.FmkRequest;
import com.cjlabs.web.check.FmkCheckUtil;

import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Objects;

/**
 * ${table.tableName} ${table.comment}
 *
 * ${context.date} ${context.time}
 */
@Slf4j
@Service
public class ${context.javaBeanName}WrapMapper extends FmkService<${context.javaBeanName}Mapper, ${context.javaBeanName}> {
    
    protected ${context.javaBeanName}WrapMapper(${context.javaBeanName}Mapper mapper) {
        super(mapper);
    }

 	/**
     * 分页查询
     */
    public FmkPageResponse<${context.javaBeanName}> pageQuery(FmkRequest<${context.javaBeanName}ReqQuery> input) {
        // 参数校验
        FmkCheckUtil.checkInput(Objects.isNull(input));
        FmkCheckUtil.checkInput(Objects.isNull(input.getRequest()));

        // 构建分页对象
        Page<${context.javaBeanName}> page = new Page<>(input.getCurrent(), input.getSize());
        ${context.javaBeanName}ReqQuery request = input.getRequest();

        // 构建查询条件
        LambdaQueryWrapper<${context.javaBeanName}> lambdaQuery = buildLambdaQuery();

        // 链编码模糊查询
        if (StringUtils.isNotBlank(request.getChainCode())) {
            lambdaQuery.like(ConfigChain::getChainCode, request.getChainCode());
        }

        // 链状态精确查询
        if (StringUtils.isNotBlank(request.getChainStatus())) {
            lambdaQuery.eq(ConfigChain::getChainStatus, request.getChainStatus());
        }

        // 是否可见
        if (StringUtils.isNotBlank(request.getVisibleFlag())) {
            lambdaQuery.eq(ConfigChain::getVisibleFlag, request.getVisibleFlag());
        }

        List<FmkOrderItem> orderItemList = input.getOrderItemList();

        // 执行分页查询
        IPage<${context.javaBeanName}> dbPage = super.pageByCondition(page, lambdaQuery, orderItemList);

        return FmkPageResponse.of(dbPage);
    }
}